<!-- jshint esverion:6 -->
<%- include('partials/header') -%>

    <div class="" id="hero-pane">
        <img src="" alt="">
    </div>

    <div class="container offset-1 col-10 offset-1" id="list-pane">
        <form class="create-forms" action="/create" method="POST">
            <p class="text-center">Add a new list item</p>

            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" placeholder="title" name="item">
            </div>

            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control" placeholder="description" name="description">
            </div>

            <div class="form-group">
                <label for="">Deadline</label>
                <input type="text" class="form-control" placeholder="deadline" name="deadline">
            </div>

            <br>
            <input class="btn btn-block btn-outline-success" id="create-doc" type="submit" value="create">

        </form>
    </div>

    <div class="container offset-1 col-10 offset-1" id="add-pane">
        <form class="form add-item " action="/ " method="GET ">
            <button type="submit " class="btn" id="add-btn">
                    <img class="add-btn " src="../assets/images/clipboard.svg " alt="add-item ">
            </button>
        </form>
    </div>


    <%- include('partials/footer') -%>