#hero-pane {
    height: 35vh;
    /* background-color: #d3d3d3; */
    /* position: absolute;
    top: 0; */
}

#list-pane {
    position: absolute;
    top: 20vh;
    z-index: 100;
    max-height: 65vh;
    min-height: 65vh;
    padding: 0 5%;
    padding-top: 15px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    overflow-y: auto;
}

#news-pane {
    position: absolute;
    top: 20vh;
    z-index: 100;
    /* max-height: 65vh; */
    min-height: 65vh;
    padding: 0 5%;
    padding-top: 15px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    overflow-y: auto;
}

#add-pane {
    position: absolute;
    bottom: 3vh;
    height: 10vh;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.card {
    border: 0;
}

.list-unstyled {
    color: #fff;
}

.day {
    line-height: 35px;
    font-size: 35px;
    font-weight: bold;
}

.month {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}

.year {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}

.week-day {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}

.remove-btn {
    height: 20px;
    width: auto;
}

.weather-btn {
    vertical-align: middle;
    margin-top: 10px;
    height: 20px;
    width: auto;
}

.add-item {
    text-align: center;
}

.add-btn {
    height: 6vh;
    width: auto;
    margin-top: 1vh;
}

.btn {
    border-radius: 0;
    background-color: transparent;
}

.list-item {
    margin: 5px 0;
    padding: 5px;
    font-size: small;
    vertical-align: middle;
    color: #535c68;
}

.list-header {
    font-size: small;
    font-weight: 600;
    vertical-align: middle;
}

.list-headers-pane {
    padding: 5px 0;
}

.list-item-pane {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 15px 0;
    padding: 5px;
}

.create-forms {
    background-color: #fff;
    height: 55vh;
}

.weather-pane {
    margin-bottom: 20px;
}

nav {
    z-index: 1000;
}

.random_hero_img {
    height: 100%;
    width: 100%;
    /* background-position: center; */
    /* background-size: contain; */
    background-clip: border-box;
}